body {
  padding-top: 46px;
}

nav {
  height: 46px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  line-height: 46px;
}

.subnav {
  height: 46px;
  border-bottom: 1px solid #ddd;
}

.page-wrapper {
  background: #fcfcfc;
  height: 100%;
}

nav img {
  margin-top: 7px;
}

.tweets-wrapper {
  margin-top: 40px;
}

.tweets {
  margin-top: 40px;
}

.tweets-list {
  -webkit-padding-start: 0px;
  background: white;
  border: 1px solid #dfdfdf;
  border-bottom: 2px solid #dfdfdf;
  border-right: 2px solid #dfdfdf;

  border-radius: 5px;
}

.tweets-list li {
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #dfdfdf;
  list-style-type: none;
  color: #333;
}
.tweets-list li {
  position: relative;
}
.tweets-list li span {
  font-size: 9px;
  position: absolute;
  bottom: 0px;
  right: 3px;
  color: gray;
}
