<div class="row tweets">
  <div class="col-sm-8 col-sm-offset-2">

    <form {{action 'addTweet' on="submit"}}>
      <div class="form-group">
        {{input id="tweet" class="form-control" value=tweet placeholder="Enter your tweet here!" maxlength="141" valuebinding="tweet"}}
      </div>
    </form>

    <h5>The Tweets From Today:</h5>

    <ul class="tweets-list">
      {{#each post in controller}}
        <li>
          {{post.tweetBody}}
          <span>
            {{post.tweetDate}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
